{% extends 'base.html.twig' %}

{% block title %}bénéficiares{% endblock %}

{% block body %}
    <h1>Bénéficiare</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ beneficiary.id }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ beneficiary.iban }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-light"><a href="{{ path('beneficiary_index') }}">retour à la liste</a></button>


    <a href="{{ path('beneficiary_edit', {'id': beneficiary.id}) }}">edit</a>

    {{ include('beneficiary/_delete_form.html.twig') }}
{% endblock %}
