{% extends 'base.html.twig' %}

{% block title %}Liste des transactions{% endblock %}

{% block body %}
    <h1>Liste des transactions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('transaction_show', {'id': transaction.id}) }}">afficher</a>
                    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transaction_new', { 'id': app.user.id }) }}">Effectuer une nouvelle transaction</a>
    <button type="button" class="btn btn-light"><a href="{{ path('index') }}">retour à mon espace utilisateur</a></button>

{% endblock %}
